<section class="bg-gray-50">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">Create a new shortened link</h1>
        <%= form_with model: @link, url: create_path, method: :post, class: "space-y-4 md:space-y-6" do |form| %>
          <div>
            <%= form.label :url, "URL", class: "block mb-2 text-sm font-medium text-gray-900" %>
            <%= form.text_field :url, id: "url-field", placeholder: "https://drive.google.com/drive/u/1/my-drive", class: "input-field" %>
          </div>

          <div>
            <%= form.label :slug, class: "block mb-2 text-sm font-medium text-gray-900" %>
            <%= form.text_field :slug, id: "slug-field", placeholder: "drive", class: "input-field" %>
          </div>

          <div>
            <%= form.submit "Shorten Link", id: "submit-button", class: "w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center hover:cursor-pointer" %>
          </div>

          <% if flash[:shortened_url] %>
            <div class="flex items-center justify-center space-x-2">
              <p class="text-sm font-medium text-gray-900">Shortened URL:</p>
              <div class="flex items-center">
                <a href="<%= flash[:shortened_url] %>" class="text-sm font-medium text-blue-600 hover:underline" target="_blank"><%= flash[:shortened_url] %></a>
                <button class="copy-button" data-clipboard-text="<%= flash[:shortened_url] %>">
                  <img src="<%= asset_path('copy.png') %>" alt="Copy" class="ml-1 w-4 h-4">
                </button>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<% if flash[:shortened_url] %>
  <script src="<%= asset_path('clipboard.min.js') %>"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var clipboard = new ClipboardJS('.copy-button');

      clipboard.on('success', function(e) {
        e.clearSelection();
        alert('Copied to clipboard');
      });

      clipboard.on('error', function(e) {
        alert('Failed to copy');
      });
    });
  </script>
<% end %>
